<% content_for :title do %>Dashing Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="followers" data-view="Number" data-title="Tweets & Replies" data-moreinfo="Tweets & Replies" data-prefix="" style="background-color:#3394BA;"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="followers" data-view="Number" data-title="Tweets" data-moreinfo="Tweets" data-prefix="" style="background-color:#3394BA;"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="followers" data-view="Number" data-title="ReTweets" data-moreinfo="ReTweets Only" data-prefix="" style="background-color:#3394BA;"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="followers" data-view="Number" data-title="Likes" data-moreinfo="Likes" data-prefix="" style="background-color:#3394BA;"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="followers" data-view="Number" data-title="Mentions" data-moreinfo="Mentions" data-prefix="" style="background-color:#83ADB7;"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="followers" data-view="Number" data-title="Followers" data-moreinfo="Followers" data-prefix="" style="background-color:#83ADB7;"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="followers" data-view="Number" data-title="Profile Vists" data-moreinfo="Profile Vists" data-prefix="" style="background-color:#83ADB7;"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="followers" data-view="Number" data-title="Impressions" data-moreinfo="Tweet Impressions" data-prefix="" style="background-color:#83ADB7;"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-color:#ff9618"></div>
    </li>

  </ul>
</div>
